<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <meta
      name="description"
      content="Repo with Webpack setup and notes from a Webpack 5 Course."
    >
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <main class="main">
      <h1 class="font-2xl"><%= htmlWebpackPlugin.options.title %></h1>

      <div
        id="content"
        class="content"
      ></div>
    </main>
  </body>

</html>